#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>

// Modified keymap based on personal experience, with some improvements based on Miryoku layout.

#define DVORAK  0
#define QWERTY  1
#define RAISE   2
#define LOWER   3

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <15 16 17 18 19>; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <10 11 12 13 14>; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Combo for toggling the Qwerty layout
        combo_tg_qwerty {
            timeout-ms = <50>;
            key-positions = <6 7 8>;
            bindings = <&tog QWERTY>;
        };

        // Combo for toggling output
        combo_tg_output {
            timeout-ms = <50>;
            key-positions = <0 4>;
            bindings = <&out OUT_TOG>;
        };

        // Combo for reseting bluetooth
        combo_tg_bt_reset {
            timeout-ms = <50>;
            key-positions = <10 14>;
            bindings = <&bt BT_CLR>;
        };

        // Combo for bootloader reset
        combo_bootloader_reset_left {
            timeout-ms = <50>;
            key-positions = <20 24>;
            bindings = <&bootloader>;
        };

        // Combo for bluetooth control (i.e. switch among the devices).
        combo_bt_next {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&bt BT_NXT>;
        };
        combo_bt_prev {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&bt BT_PRV>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

 /* Base (dvorak)
 * ,---------------------------------------,                                  ,---------------------------------------,
 * |   '   |   ,   |   .   |   p   |   y   |                                  |   f   |   g   |   c   |   r   |   l   |
 * |-------+-------+-------+-------+-------|                                  |-------+-------+-------+-------+-------|
 * |   a   |   o   |   e   |   u   |   i   |                                  |   d   |   h   |   t   |   n   |   s   |
 * |-------+-------+-------+-------+-------|                                  |------ +-------+-------+-------+-------|
 * |   ;   |   q   |   j   |   k   |   x   |                                  |   b   |   m   |   w   |   v   |   z   |
 * '-----------------------------------------------------------,  ,---------------------------------------------------'
 *                                 |  ESC  | ENTER+RAISE | TAB |  | DEL | SPACE+LOWER|  BS   |
 *                                 '---------------------------'  '---------------------------'
 */

        dvorak {
            bindings = <
    &kp SQT        &kp COMMA      &kp DOT        &kp P          &kp Y          &kp F          &kp G           &kp C          &kp R          &kp L
    &hml LSHFT A   &hml LALT O    &hml LGUI E    &hml LCTRL U   &hml RALT I    &hmr RALT D    &hmr RCTRL H    &hmr RGUI T    &hmr LALT N    &hmr RSHFT S
    &kp SEMI       &kp Q          &kp J          &kp K          &kp X          &kp B          &kp M           &kp W          &kp V          &kp Z
                                  &kp ESC        &lt RAISE RET  &kp TAB        &kp DEL        &lt LOWER SPACE &kp BSPC
            >;
        };

        qwerty {
            bindings = <
    &kp Q          &kp W          &kp E          &kp R          &kp T          &kp Y          &kp U           &kp I          &kp O          &kp P
    &hml LSHFT A   &hml LALT S    &hml LGUI D    &hml LCTRL F   &hml RALT G    &hmr RALT H    &hmr LCTRL J    &hmr LGUI K    &hmr LALT L    &hmr LSHFT SQT
    &kp Z          &kp X          &kp C          &kp V          &kp B          &kp N          &kp M           &kp COMMA      &kp DOT        &kp FSLH
                                  &trans         &trans         &trans         &trans         &trans          &trans
            >;
        };

 /* Raise
 * ,---------------------------------------,                                  ,---------------------------------------,
 * | PGUP  | PGDN  | MUP   | DELETE|INSERT |                                  |   {   |   }   |  up   |VOL_DN |VOL_UP |
 * |-------+-------+-------+-------+-------|                                  |-------+-------+-------+-------+-------|
 * | LCLK  | MLEFT | MDOWN | MRIGHT| RCLK  |                                  |   ?   |  left |  down | right | MUTE  |
 * |-------+-------+-------+-------+-------|                                  |------ +-------+-------+-------+-------|
 * |   F1  |  F2   |  F3   |  F4   |  F5   |                                  |   F6  |  F7   |  F8   |  F9   |  F10  |
 * '-------------------------------------------------------,  ,-------------------------------------------------------'
 *                                 | F11   |       | F12   |  | MCLK  |   [   |   ]   |
 *                                 '-----------------------'  '-----------------------'
 */

        raise_layer {
            bindings = <
    &kp PGUP       &kp PGDN       &mmv MOVE_UP   &kp DEL        &kp INSERT     &kp LBRC       &kp RBRC       &kp UP         &kp K_VOL_DN   &kp K_VOL_UP
    &mkp LCLK      &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT&mkp RCLK      &kp QMARK      &kp LEFT       &kp DOWN       &kp RIGHT      &mkp K_MUTE
    &kp F1         &kp F2         &kp F3         &kp F4         &kp F5         &kp F6         &kp F7         &kp F8         &kp F9         &kp F10
                                  &kp F11        &trans         &kp F12        &kp MCLK       &kp LBKT       &kp RBKT
            >;
        };

 /* Lower
 * ,---------------------------------------,                                  ,---------------------------------------,
 * |   =   |   +   |   -   |   _   |   |   |                                  |   \   |   /   |   `   |   ~   | RESET |
 * |-------+-------+-------+-------+-------|                                  |-------+-------+-------+-------+-------|
 * |   1   |   2   |   3   |   4   |   5   |                                  |   6   |   7   |   8   |   9   |   0   |
 * |-------+-------+-------+-------+-------|                                  |------ +-------+-------+-------+-------|
 * |   !   |   @   |   #   |   $   |   %   |                                  |   ^   |   &   |   *   |   (   |   )   |
 * '-------------------------------------------------------,  ,-------------------------------------------------------'
 *                                 | PREV  | PP    | NEXT  |  | HOME  |       | END   |
 *                                 '-----------------------'  '-----------------------'
 */

        lower_layer {
            bindings = <
    &kp EQUAL      &kp PLUS       &kp MINUS      &kp UNDER      &kp PIPE       &kp BSLH       &kp FSLH       &kp GRAVE       &kp TILDE      &bootloader
    &kp N1         &kp N2         &kp N3         &kp N4         &kp N5         &kp N6         &kp N7         &kp N8          &kp N9         &kp N0
    &kp EXCL       &kp AT         &kp HASH       &kp DLLR       &kp PRCNT      &kp CARET      &kp AMPS       &kp ASTRK       &kp LPAR       &kp RPAR
                                  &kp K_PREV     &kp K_PP       &kp K_NEXT     &kp HOME       &trans         &kp END
            >;
        };

    };
};
